.container-1 {
    display: flex;
    text-align: center;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 40px;
}

.container-1>* {
    border: 1px solid;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 100%;
}

.container-1>header {
    line-height: 100px;
    background-color: pink;
    color: black;
}

.container-1>nav {
    line-height: 20px;
    background-color: navy;
    color: white;
}

@media screen and (min-width:992px) {
    .main-content {
        order: 2;
        height: 500px;
        flex: 3 3 0%;
    }

    .as-1 {
        order: 1;
        flex:1 1 0%;
    }

    .as-2 {
        order: 3;
        flex:1 1 0%;
    }
    .foot{
        order: 4;
    }

}
@media screen and (min-width:768px) and (max-width:991px){
    .as-1{
        flex: 1 1 0%
    }
     .as-2{
        flex: 1 1 0%
    }
}